.header__logo {
  width: 142px;
  height: 33px;
  margin-bottom: 40px;
}

@media (max-width:900px){
  .header__logo{
    margin-left: 27px;
  }
}

@media (max-width:650px){
  .header__logo{
    margin: 0 0 32px 27px;
    max-width: 104px;
    width: 100%;
    height: 25px;
  }
}
