@import url(__image/element__image.css);
@import url(__info/element__info.css);
@import url(__text/element__text.css);

.element {
  width: 100%;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
}